<h1>User info</h1>
<%= form_with model: @user do |f| %>

  <p>Nmme</p>
    <%= f.text_field :name %>
  <p>Image</p>
    <%= f.file_field :image, accept: "image/*" %>
  <p>Introduction</p>
    <%= f.text_area :introduction %>
    <%= f.submit "Update User" %>
    <% end %>


