<h1>User info</h1>
<%= image_tag @user.get_profile_image(200, 200) %>
<p>name</p>
<%= @user.name %>
<p>introduction</p>
<%= @user.introduction %>

<% if @user.id == current_user.id %>
  <%= link_to "編集", edit_user_path(@user) %>
<% end %>




<h1>New book</h1>

<%= form_with model: @book do |f| %>
<p>Title<p>
<%= f.text_field :title %>

<p>Opinion<p>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>
<% end %>




<h4>Users</h4>
<% @users.each do |user| %>

<p>Image</p>
  <%= image_tag  user.get_profile_image(100, 100) %>
<p>Name</p>
  <%= user.name %>
<% end %>

