<div>
  <%= flash[:notice] %>
</div>

<h1>User info</h1>
<%= image_tag @user.get_profile_image(200, 200) %>
<p>name</p>
<%= @user.name %>
<p>introduction</p>
<%= @user.introduction %>


<% if @user.id == current_user.id %>
  <%= link_to  edit_user_path(@user), class: 'btn btn-default' do %>
      <i class="fa-solid fa-user-pen"></i>
  <% end %>
<% end %>



<h1>New book</h1>

<%= form_with model: @book do |f| %>
<p>Title<p>
<%= f.text_field :title %>

<p>Opinion<p>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>
<% end %>




<h4>Books</h4>
<% @books.each do |book| %>

<%= image_tag  @user.get_profile_image(100, 100) %>

<p>Title</p>
 <%= link_to book.title, book_path(book) %>

<p>Opinion</p>
  <%= book.body %>

<% end %>


