<h1>User info</h1>
<%= image_tag user.get_profile_image(200, 200) %>
<p>name</p>
<%= user.name %>
<p>introduction</p>
<%= user.introduction %>

<% if user.id == current_user.id %>
  <%= link_to  edit_user_path(user), class: 'btn btn-default' do %>
      <i class="fa-solid fa-user-pen"></i>
  <% end %>
<% end %>


<h1>New book</h1>

<%= form_with model: book_new do |f| %>
<p>Title<p>
<%= f.text_field :title %>

<p>Opinion<p>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>
<% end %>



