<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= render 'book', user: @user, book_new: @book_new %>


<h4>Books</h4>
<% @books.each do |book| %>

<%= image_tag book.user.get_profile_image(100, 100) %>

<%= link_to book.title, book_path(book) %>

<p>Opinion</p>
<%= book.body %>

<% end %>
