<h1>User info</h1>
<%= @user.name %>


<h1>New book</h1>

<%= form_with model: @book do |f| %>
<p>Title<p>
<%= f.text_field :title %>

<p>Opinion<p>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>
<% end %>


<h4>Books</h4>
<% @books.each do |book| %>

<p>Title</p>
<%= book.title %>

<p>Opinion</p>
<%= book.body %>


<% end %>