<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3" >
      <%= render 'book', user: @user, book_new: @book_new%>
    </div>

    <div class="offset-md-1" ></div>

    <div class="col-md-8" >
      <h1>Book detail</h1>

        <table class="table">
          <tr>
            <td>
              <% if @user.image.attached? %>
                <%= image_tag @user.get_profile_image(100, 100) %>
              <% else %>
                <%= image_tag 'no_image', size: "100x100" %>
              <% end %><br>

              <%= link_to @user.name, user_path(@user) %>
            </td>

            <td>
              <%= link_to @book.title, book_path(@book) %>
            </td>

            <td>
              <p><%= @book.body %></p>
            </td>

            <td>
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path, class: "btn btn-success" %>
              <% end %>
            </td>

            <td>
              <% if @book.user == current_user %>
                <%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %>
              <% end %>
            </td>
          </tr>
        </table>
    </div>
  </div>
</div>








