<h4>Book detail</h4>
<% if @book.image.attached? %>
  <%= image_tag @book.user %>
<% else %>
  <%= image_tag 'no_image', size: "100x100" %>
<% end %>
<p><%= @book.title %></p>
<p><%= @book.body %></p>
<%= link_to user_path(@book.user) %>
<%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
