<div>
  <%= flash[:notice] %>
</div>


<%= render 'book', user: @user, book_new: @book_new%>


<h4>Book detail</h4>

<% if @user.image.attached? %>
  <%= image_tag @user.get_profile_image(100, 100) %>
<% else %>
  <%= image_tag 'no_image', size: "100x100" %>
<% end %> 



<%= link_to @user.name, user_path(@user) %>
<%= link_to @book.title, book_path(@book) %>
<p><%= @book.body %></p>



<% if @book.user == current_user %>
  <%= link_to "Edit", edit_book_path %>
<% end %>
<% if @book.user == current_user %>
  <%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に消しますか？" %>
<% end %>


