<div>
  <%= flash[:notice] %>
</div>

<h1>User info</h1>
<%= image_tag @user.get_profile_image(200, 200) %>
<p>name</p>
<%= @user.name %>
<p>introduction</p>
<%= @user.introduction %>

<% if @user.id == current_user.id %>
  <%= link_to "編集", edit_user_path(@user) %>
<% end %>

<h1>New book</h1>

<%= form_with model: @book_new do |f| %>
<p>Title<p>
<%= f.text_field :title %>

<p>Opinion<p>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>
<% end %>



<h4>Book detail</h4>

<% if @user.image.attached? %>
  <%= image_tag @user.get_profile_image(100, 100) %>
<% else %>
  <%= image_tag 'no_image', size: "100x100" %>
<% end %>

<p><%= @book.title %></p>
<p><%= @book.body %></p>
<p><%= @user.name %>
<%= link_to user_path(@user.id) %>


<% if @book.user == current_user %>
  <%= link_to "Edit", edit_book_path %>
<% end %>
<% if @book.user == current_user %>
  <%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に消しますか？" %>
<% end %>


