<div>
  <%= flash[:notice] %>
</div>

<h1>User info</h1>
<% if @user.image.attached? %>
  <%= image_tag @user.image %>
<% else %>
  <%= image_tag 'no_image', size: "100x100" %>
<% end %>
<p>name</p>
<%= @user.name %>
<p>introduction</p>
<%= @user.introduction %>
<%= link_to "編集", edit_user_path(@user) %>


<h1>New book</h1>

<%= form_with model: @book do |f| %>
<p>Title<p>
<%= f.text_field :title %>

<p>Opinion<p>
<%= f.text_area :body %>

<%= f.submit 'Create Book' %>
<% end %>



<h4>Book detail</h4>

<% if @user.profile_image.attached? %>
  <%= image_tag @user.profile_image %>
<% else %>
  <%= image_tag 'no_image', size: "100x100" %>
<% end %>

<p><%= @book.title %></p>
<p><%= @book.body %></p>
<p><%= @user.name %>
<%= link_to user_path(@user.id) %>


<%= link_to "Edit", edit_book_path %>
<%= link_to "Destroy", book_path, method: :delete, "data-confirm" => "本当に消しますか？" %>


